body {
    background-color:#dddada;
  
  } 
  .login {
    width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color:#003366;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login {
    text-align: center;
  }
  
  h2 {
    color: #ffff;
    margin-bottom: 20px;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #ffff;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: calc(100% - 22px);
    padding: 14px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    background-color: #dddada;
    font-size: 16px;
    color: #0c0c0c;
  }
  
  input[type="button"] {
    width: 100%;
    padding: 14px;
    background-color: #19629a;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  input[type="button"]:hover {
    background-color: #0000;
  }
  
  p {
    margin-top: 50px;
    color: #ffff;
  }
  
  a {
    color: #ffff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  
  