{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To car modification shop...</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">

<br/><br/>
CarModShop is an e-commerce platform developed to enhance the car-modification shopping experience by providing an accessible marketplace for enthusiasts to reserve products and accessories. The website allows users to create personal accounts, securely browse and reserve a select range of car modification parts, and gain access to detailed product descriptions and reviews. Each product includes interactive features such as customer ratings and installation assistance at our onsite workshop, helping users make informed purchasing decisions. Built with a Django backend and PostgreSQL database, CarModShop offers a smooth and secure shopping experience, empowering car enthusiasts to enhance their vehicles with ease and security.
<br/><br/>

</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}